#playingBoard {
  width: 730px;
  height:579px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin-left: 300px;
  border-color: white;
  border-color:black;
  background-image: url(../img/wood.jpg);
  display: none;
}
#boardStairs{
    border-color: black;
    background-color: black;
    margin: auto;
    width: 500px;
    height:570px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-image: url(../img/woodpg.jpg);
}
.space{
    margin-top:30px;
    width: 300px;
    height:50px;
}
.stairs{
  border-color: black;
  background-color: red;
  background-image: url(../img/wood.jpg);
  border-style: solid;
  border-width:.5px;
  border-radius: 30px;
  position: absolute;
}
.coins{
  position:absolute;
  bottom: 0px;
}
.stairsParent{
  position:absolute;
}

