#playingBoard {
  width: 730px;
  height:585px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: white;
  border-color:black;
  background-image: url(../img/wood.jpg);
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


#boardStairs{
    position: relative;
    border-color: black;
    background-color: black;
    width: 500px;
    height:580px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-image: url(../img/woodpg.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#charImg{
  position: absolute;
  bottom: 0;
  width : 50;
  height : 60;

}
.space{
    margin-top:30px;
    width: 300px;
    height:50px;
}
.stairs{
  border-color: black;
  background-color: red;
  background-image: url(../img/wood.jpg);
  border-style: solid;
  border-width:.5px;
  border-radius: 30px;
  position: absolute;
}
.coins{
  position:absolute;
  /*bottom: 0px;*/
}
.stairsParent{
  position:absolute;
}

#player{
  float: right;
  margin: 30px;
  font-weight: bold;
  color:aliceblue;
}
#scoreDiv{
  float: left;
  margin: 30px;
  font-weight: bold;
  color:aliceblue;
}
